@import "../base/mixins";
@import "../base/variables";


.img-rotate {
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(180deg);
    }

}

.my-name {
    @include text ($sans-serif, 100, normal, 0.8rem)
}

.container-links-navbar {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    border-radius: 50px;

    &:hover {
        color: $color-dark;
        background-color: $color-light;
        transition-duration: 1s;
    }
}

.links-navbar {
    color: $color-light;
    @include text ($sans-serif, 100, normal, 1rem)
}

.active-page {
    font-weight: 600;
}