@import "../base/mixins";
@import "../base/variables";

.main-title {
    display: flex;
    height: 60vh;
}

.main-title p:first-child {
    @include text ($sans-serif, 100, italic, 10rem);
    margin-right: 2rem;
    margin-top: 0.7rem; 
}

.main-title p:last-child {
    @include text ($serif, 400, italic, 10rem);
    margin-left: 2rem;
}


