@import "../base/mixins";
@import "../base/variables";

.project-cat ul {
    list-style: none;

    a {
        text-decoration: none;
    }
      
}


.project-container img {
    border-radius: 0.7rem;
}


.project-name {
    color: $color-light;
    @include text ($sans-serif, 100, normal, 1rem);
    
    :first-child {
        margin-bottom: 0;
    }

    :nth-child(2) {
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 0;
    }

    :nth-child(3) {
        a {
            font-weight: 300;
            text-decoration: none;
            color: $color-light;

            &:hover {
                text-decoration: underline;
            }
        }

        img {
            padding-right: 0.5rem;
        }
    }
    
}



